{% requirePermission 'gpt-cg-view' %}

{% extends "_layouts/cp" %}
{% set plHandle = 'gpt-content-generator' %}
{% set title = 'Edit Prompts'|t(plHandle) %}

{% set fullPageForm = true %}
{% set saveShortcut = false %}
{% set mainFormAttributes = { data: { 'confirm-unload': false } } %}

{% set crumbs = [
	{ label: 'Prompts'|t('app'), url: url('gpt-content-generator') }
] %}

{% block content %}
	<div id="prompts-edit" data-id="{{promptId}}" data-url="{{url('gpt-content-generator')}}"></div>

	<div class="prompt-examples" style="margin-top: 2rem">
		{# <p><strong>Example</strong></p> #}
		<h2>Examples</h2>

		<p><strong>Translate:</strong><br>
		Translate the following content into the language <i>{{"{{currentSite.language}}"}}</i> keeping all html tags:<br><i>{{"{{field.value|raw}}"}}</i></p>

		<p><strong>Spelling:</strong><br>
		Fix all spelling mistakes in the following text:<br><i>{{"{{field.value|raw}}"}}</i></p>
	</div>
{% endblock %}